.container {
    &.about-page {
        .text-zone {
            padding-left: 20px;
        }

        .our-story {
            font-size: 48px;
            margin-bottom: 20px; 
            position: relative; 
            left: -20px; 
            animation: slideInLeft 0.5s ease; 
        }
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
