.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.text-zone {
  font-family: Arial;
  text-align: center; 
  margin-bottom: 30px; 
}

.text-zone h2 {
  font-size: 30px; 
  margin-bottom: 5px; 
}

.text-zone p {
  font-size: 20px; 
  margin-bottom: 30px; 
}


.text-zone p {
  &:nth-of-type(1) {
    border: none;
    background-color: transparent;
  }
}