.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.text-zone {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  margin-bottom: 30px; 
}

.text-zone h2 {
  font-size: 30px; 
  margin-bottom: 5px; 
}

.text-zone p {
  font-size: 20px; 
  margin-bottom: 30px; 
}

.flat-button {
  color: #150703;
  font-size: 16px; 
  font-weight: bold;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid #010517;
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 70px; 
}

.flat-button:hover {
  background: #ecdb9f;
  color: #333;
}

.text-zone p {
  &:nth-of-type(1) {
    border: none;
    background-color: transparent;
  }
}