.container {
    text-align: center; /* Center align the content */
  }
  
  .page-title {
    font-weight: bold;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-box {
    width: 250px; /* Adjust as needed */
    margin: 20px; /* Adjust spacing between components */
  }
  
  .dog-image {
    width: 300px; /* Adjust size of the dog image */
    height: 300px; /* Adjust size of the dog image */
    float: left;
    margin-right: 10px; /* Adjust spacing between image and text */
  }
  
  .title {
    font-weight: bold;
  }
  
  .description {
    margin-top: 20px; /* Adjust spacing */
  }
  
  .price {
    margin-top: 20px; /* Adjust spacing */
    font-weight: bold;
    color: #3b7bd4; /* Adjust color */
  }
  